<table>
  <tr>
    <th>
      Title
    </th>
    <th>
      Price
    </th>
    <th>
      Category
    </th>
  </tr>
<% @products.each do |p| %>

    <tr>
      <th>
        <%= p.title %>
      </th>
      <th>
        <%= p.price %>
      </th>
      <th>
        <%= p.category.try(:title) %>
      </th>
    </tr>

<% end %>
</table>
