<h1>LIST PRODUCTS</h1>
<%= link_to('New products',new_product_path) %>
<table class="table table-striped">
  <tr>
    <th>
      Title
    </th>
    <th>
      Price
    </th>
    <th>
      Category
    </th>
  </tr>
  <%= render partial: 'product', collection: @products%>
</table>
